aws:
  access_key_id: 123
  secret_access_key: 123
  bucket: 123
  region: 123
  endpoint: 123

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 1e45a702f32442fb30f04650ddd1cf3124212b33faf662901b06d80658d8e7a72897fdb8b918f124e1032faff48c40468f5c1061ca995a7b720b5fb5c3e44e08
jwt_secret:      10c63e9bc930cdfc7399dc5246359089

active_record_encryption:
  primary_key: 1Mx0k2fUDZBoNEJLn9qfUlAnwCMYfjBZ
  deterministic_key: q3RHdyUFlFDU4ciU7II04MEtgFERntLa
  key_derivation_salt: q1GfNAF5BblxNFklD3tAuq9TwYq4Or2h
