<% if user_signed_in? %>
  <li class="nav-item text-nowrap">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
  </li>
<% else %>
  <li class="nav-item text-nowrap">
    <%= button_to('Login', new_user_session_path, class: "nav-link") %>
  </li>
<% end %>
