<% if user_signed_in? %>
  <li>
    <%= button_to('Logout', destroy_user_session_path, method: :delete, class: "button") %>
  </li>
<% else %>
  <li>
    <%= button_to('Login', new_user_session_path, class: "button") %>
  </li>
<% end %>